.main{
    background-color: $gray-background;
    &__start{
        @include responsive (phone){
            width: 100%;
            
        }
        background-image: url(../images/main-background-img.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__start-text-wrapper{
        @include responsive (phone){
            margin-left: -15rem;
        }
        padding: 19.2rem;
        h2{
            margin-bottom: 5rem;
            font-weight: 700;
            color: white;
            font-size: 4.8rem;
            line-height: 1.16;
        }
        h3{
            font-weight: 400;
            margin-bottom: 5rem;
            font-size: 1.4rem;
            line-height: 1.14;
            color: white;
        }
        a{
            transition: 0.5s ease;
            border-radius: 4rem;
            padding: 1rem 3rem;
            text-align: center;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.14;
            letter-spacing: 5%;
            text-decoration: none;
            color: white;
            border: 2px solid white;
        }
        a:hover{
            color: black;
        }
    }


    &__special-offers{
        @include responsive (phone){
            text-align: center;
        }
    }
    &__special-offers-text{
        @include responsive (phone){
            margin-top: 3.8rem;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
            color: black;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 1.16;
            margin-top: 8rem;
            margin-bottom: 3.8rem;
            margin-left: 14.5rem;
    }
    &__sale{
        display: flex;
        align-items: center;
        justify-content: center;
        @include responsive (phone){
            display: block;
        }
    }
    &__sale-list{
        @include responsive (phone){
            width: 100%;
        }
        text-align: center;
        background-color: white;
        padding: 2rem 3rem ;
        list-style: none;
        h3{
            
            margin-top: 2rem;
            margin-bottom: 1rem;
            @include site-subtitle
        }
        h2{
            margin-bottom: 1rem;
            font-weight: 500;
        }
        a{
            transition: 0.5s ease;
            text-decoration: none;
            color: white;
            padding: 1rem 4rem;
            background-color: $brand-color;
            border-radius: 4rem;
        }
        a:hover{
            color: black;
        }
    }
    &__sale-list:not(:last-child){
        margin-right: 3rem;
    }
    
    
    
    &__services{
        
        margin-top: 10rem;
        justify-content: center;
        display: flex;
        @include responsive (phone){
            display: block;
        }
    }
    &__services-list{
        @include responsive (phone){
            width: 100%;
            display: block;
        }
        margin-bottom: 5rem;
        align-items: center;
        background-color: $brand-color;
        list-style-type: none;
        display: flex;
    }
    &__services-list:not(last-child){
        margin-right: 3.5rem;
    }
    &__services-item{
        @include responsive (phone){
            padding-top: 3.5rem;
            padding-bottom: 3.5rem;
            text-align: center;
            
        }
        color: white;
        padding: 3.5rem;
        h2{
            margin-bottom: 2.5rem;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 1.16
        }
        h3{
            margin-bottom: 2.5rem;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.35;
        }
        a{
            text-decoration: none;
            color: white;
            border: 2px solid white;
            border-radius: 4rem;
            padding: 1rem 2rem;
        }
        input{
            outline: none;
            border: none;
            border-radius: 4rem;
            padding: 1rem 9rem 1rem 2rem;
        }
    }
    &__services-img{
        @include responsive (phone){
            display: flex;
            flex-direction: column;
            padding-bottom: 2.5rem;
            margin-left: auto;
            margin-right: auto;
        }
        margin: 0rem 5rem;
    }



}